<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="habits" href="/tabs/habits">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Hábitos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today" href="/tabs/today">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
